{# **************** #}
{# ***** HOME ***** #}
{# **************** #}


<!DOCTYPE html>
<html lang="en">

<!-- ***** Head ***** -->
<head>

  <!-- Main Meta Data -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Main Title -->
  <title>PAM</title>

  <!-- Secondary Meta Data -->
  <meta name="description" content="Php Approachable Microframework">
  <meta name="author" content="Philippe Beck">
  <meta name="copyright" content="MIT">

  <!-- Project StyleSheet -->
  <link rel="stylesheet" href="../public/css/style.css">

</head>
<body>

  <!-- ***** Main ***** -->
  <main>

    <figure>
      <img src="img/pam.png" alt="Pam Logo">
      <figcaption>Pam, Php Approachable Microframework</figcaption>
    </figure>

    <p>Pam is a study project, you will find the documentation <a href="https://philippebeck.net/index.php?access=pjs!pam" title="Php Approachable Microframework Documentation">here</a> & don't hesitate to send <a href="https://github.com/philippebeck/pam/issues">issues</a> or <a href="https://github.com/philippebeck/pam/pulls">pull requests</a>, I will watch them with interest...</p>

  </main>

  <!-- ***** Footer ***** -->
  <footer>

    <!-- License Link -->
    <a href="https://github.com/philippebeck/pjs/blob/master/LICENSE" rel="noopener" rel="noreferrer" target="_blank" title="License">MIT &copy; 2018 Philippe Beck</a>

  </footer>

  <!-- Project Script -->
  <script src="js/script.js"></script>

</body>
</html>
