<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>PAM</title>

  <meta name="description" content="Php Approachable Microframework">
  <meta name="author" content="Philippe Beck">
  <meta name="copyright" content="MIT">

  <link rel="stylesheet" href="../public/css/style.css">

</head>
<body>

  <main>
    <figure>
      <img src="img/pam.png" alt="Pam Logo">
      <figcaption>PAM : Php Approachable Microframework</figcaption>
    </figure>

    <p>Pam is a study project, you will find the documentation <a href="https://github.com/philippebeck/pam/wiki" title="Php Approachable Microframework Documentation">here</a> & don't hesitate to send <a href="https://github.com/philippebeck/pam/issues">issues</a> or <a href="https://github.com/philippebeck/pam/pulls">pull requests</a>, I will watch them with interest...</p>
  </main>

  <footer>
    <a href="https://github.com/philippebeck/pam/blob/master/LICENSE" rel="noopener" rel="noreferrer" target="_blank" title="License">MIT &copy; 2018 Philippe Beck</a>
  </footer>

  <script src="js/script.js"></script>

</body>
</html>
